{% extends "layout.html" %}

{% block title %}
   Login
{% endblock %}

{% block main %}
    <h1> Sign In</h1>
    <!-- login form -->
    <form action="/login" method="post">
        <div class="form-floating mb-3 link-dark " style="width: 50%;">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating link-dark" style="width: 50%;">
            <input type="password"  name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary btn d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px; margin-bottom: 20px;">Submit</button>
        </div>
    </form>
{% endblock %} 